name : CI-Build-Backend-Build-Frontend

on:
  push:
    tags:
      - 'v*'


jobs:
  build_frontend: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build Frontend
        run: |
          npm install
          npm run build
        env:
          APP_VERSION: ${{ github.ref_name }}
        working-directory: ./frontend
      - name: Upload Frontend Artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: ./frontend/dist

  build_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Publish Backend
        run: dotnet publish -c Release -o ./publish
        working-directory: ./backend
      - name: Upload Backend Artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-app
          path: ./backend/publish